<!DOCTYPE html>
<html lang="en">

<head>
  <title>go + gRPC + Docker</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/htmx@1.9.5"></script>
</head>

<body>
  <div class="h-screen w-screen bg-gray-950 flex flex-col justify-center px-20 md:px-[28%] space-y-4">
    <div class="h-20 bg-gray-800 w-full rounded-xl flex items-center justify-between px-4 py-2">
      <h1 class="text-white text-xl">Notes</h1>
      <button
        class="hover:bg-none hover:bg-gray-500 active:bg-pink-500 text-white font-bold bg-gray-600 transition duration-300 ease-in-out h-16 w-16 rounded-full"
        onclick="openModal()">+</button>
    </div>

    <div class="h-[50%] w-full flex flex-col justify-center items-center rounded-xl p-10">

      <div class="w-full min-h-20 h-auto bg-gray-800 rounded-lg p-4">
        <h1 class="text-4xl text-center text-gray-400 animate-pulse">Notes will appear here</h1>
      </div>

      <div class="w-full h-full flex flex-col items-center justify-center mt-2">
        <h1 class="text-3xl text-center text-gray-400">Keymaps</h1>
        <h1 class="text-center text-gray-600">alt + n - New note</h1>
        <h1 class="text-center text-gray-600">alt + s - save</h1>
        <h1 class="text-center text-gray-600">alt + x - delete note</h1>
      </div>
    </div>

    <div id="newNoteModal"
      class="fixed inset-0 flex items-center justify-center z-10 hidden backdrop-blur bg-opacity-40">
      <div class="bg-gray-600 bg-opacity-40 h-[40%] flex flex-col items-center justify-center rounded-lg p-6 w-1/2">
        <h2 class="text-xl text-white font-semibold mb-4">Create a New Note</h2>
        <textarea id="noteText"
          class="text-white w-full bg-gray-500 bg-opacity-40 h-[60%] rounded p-2 mb-4 placeholder-white"
          placeholder="Enter your note" placeholdercolor="white"></textarea>
        <div class="flex justify-end">
          <button class="px-4 py-2 bg-gray-800 text-white rounded hover:bg-gray-500" onclick="saveNote()">Save</button>
          <button class="px-4 py-2 ml-2 bg-red-300 rounded hover:bg-gray-200" onclick="closeModal()">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>

  <script>
    function openModal() {
      const modal = document.getElementById('newNoteModal');
      if (modal) {
        modal.classList.remove('hidden');
      }
    }

    function closeModal() {
      const modal = document.getElementById('newNoteModal');
      if (modal) {
        modal.classList.add('hidden');
      }
    }

    function saveNote() {
      const noteText = document.getElementById('noteText').value;
      // Perform actions to save the new note, e.g., sending it to the server
      console.log('New note saved:', noteText);
      closeModal();
    }

    document.addEventListener('keydown', function (event) {
      if (event.altKey && event.key === 'n') {
        // Alt + n is pressed, execute New note action
        event.preventDefault(); // Prevent the default browser behavior
        openModal();
      } else if (event.altKey && event.key === 's') {
        // Alt + s is pressed, execute Save action
        event.preventDefault(); // Prevent the default browser behavior
        saveNote();
      } else if (event.altKey && event.key === 'x') {
        // Alt + x is pressed, execute Delete note action
        event.preventDefault(); // Prevent the default browser behavior
        console.log('Delete note action');
      }
    });
  </script>
</body>

</html>
